<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="content-type" content="text/html; charset=UTF-8"></meta>
    <title>Title</title>
</head>

<body class=" theme-blue">
<div class="content" th:fragment="content">

    <div class="header">
        <h1 class="page-title">上传文件</h1>
        <ul class="breadcrumb">
            <li><a th:href="@{/uploadFileList}">文件列表</a></li>
            <li class="active">上传文件</li>
        </ul>
    </div>

    <div class="main-content">
        <form action="/upload" method="post" enctype="multipart/form-data" class="form-inline" style="margin-left: 30%">
            <div class="form-group">
                <input type="file" id="file" name="file" value="文件1" multiple="multiple" dojoType="dojox.form.Uploader"/>
            </div>
            <div class="form-group">
                <input type="submit" value="提交" class="btn btn-default"/>
            </div>

        </form>
        <div th:replace="fragment/footer :: footer">footer</div>
    </div>
</div>

</body>

</html>