<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">

<body>
<div class="content" layout:fragment="content">
    <div class="header">

        <h1 class="page-title">Home</h1>
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a></li>
        </ul>

    </div>
    <div class="main-content">
        <div style="height: 400px">
            <h1>错误的请求</h1>
        </div>
        <div th:replace="fragment/footer :: footer">footer</div>
    </div>
</div>
</body>
</html>